version: 2.1
orbs:
  github-cli: circleci/github-cli@2.2.0

  jobs:
    push-artifact:
      docker:
        - image: cimg/base:stable
    steps:
      - gh/install
      - run:
          name: Install Composer.
          command: |
            php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
            php -r "if (hash_file('sha384', 'composer-setup.php') === 'e21205b207c3ff031906575712edab6f13eb0b361f2085f1f1237b7126d785e826a450292b6cfd1d64d92e6563bbde02') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
            php composer-setup.php
            php -r "unlink('composer-setup.php');"
            chmod +x composer.phar
            sudo mv composer.phar /usr/local/bin/composer
      - run:
          name: Install box.
          command: |
            composer global require humbug/box



workflows:
  test-and-deploy:
    jobs:
      - push-artifact:
          filters:
            branches:
              only: main
            # tags:
            #   only:
            #     - /^v.*/
            # branches:
            #   ignore: /.*/
